
/* colores */
$primario: #7abe47;
$secundario: #ffc845;
$negro: #000000;
$claro: #ffffff;
$gris: #eeeeee;
$oscuro: #57a42b;

/* espaciados */
$padding: 1rem;
$paddingt: 2rem;

/* size screens */
$tablet: 480px;
$desktop: 700px;