/* @import 'variables.scss'; */
/* @import 'mixins.scss'; */


header {
    background-image: URLimagen;
    background-repeat: no-repeat;
    min-height: 24rem;
    background-size: cover;
    background-position: center center;
      
}


footer {
    background-image: URLimagen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 3rem;
    padding: 2rem 0;
    min-height: 20rem;

}