@import '_mixins';
@import '_variables';

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}


header {

    .logo {
        max-width: 100%;
    }

    nav {
        background-color: black;
        .menu {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

            li {
                
                list-style: none;

                &:hover {
                    color: black;
                    background-color: $color-verde;
                }

                a{
                    text-decoration: none;
                    color: #EFEFEF;
                    text-align: center;
                    display: block;
                    padding: 5px 0;
                }   
            }
        }
    }

    .pizzaImg {
        max-width: 100%;
    }
}

main {

    display: grid;
    grid-template-columns: 1fr;

    @include dispositivos($tablet) {
        grid-template-columns:minmax(10px, max-content) auto minmax(100px, max-content);
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }

    .chil-requisitos {

        background-color: $color-verde;

        @include dispositivos($tablet) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }


        li {
            list-style: none;
            text-align: center;
            color: #EFEFEF;
            padding: 1rem;
        }
    }

    .chil-img1 {
        justify-self: center;
        @include dispositivos($tablet) {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            max-width: 100%;
        }
    }

    .chil-img2 {
        justify-self: center;
        @include dispositivos($tablet) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            max-width: 100%;
        }
    }

    h1 {
        @include dispositivos($tablet) {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            text-align: center;
        }
    }
    
    .chil-texto1 {
        @include dispositivos($tablet) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
    .chil-texto2 {
        @include dispositivos($tablet) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }
    .chil-texto3 {
        @include dispositivos($tablet) {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }
    }
    .chil-texto4 {
        @include dispositivos($tablet) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
    }
}

footer {

    background-color: $color-verde;

    div {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        

        .lista-footer {

            list-style: none;

            .titulo-footer {


                a {            
                    text-decoration: none;
                }
            }

            .punto-footer {


                a {            
                    text-decoration: none;
                    color: #373737;
                }
            }

        }

    } 
    
    .finaFooter {
        background-color: $fondo_copyright;
        color: #EFEFEF;
        text-align: center;
        padding: 5px;
    }

}