/***************** VARIABLES ****************/

/* fuente */
$tamano_iconos: 11px;
$tamano_iconos_movil: 25px;
$tamano_label: 14px;
$fuente: 'Montserrat', sans-serif;
$fuente_h1: 'Lora', serif;
$tamano_h1: 21px;
$negrita_h1: 300;
$tamano_fuente_articulo: 13px;
$tamano_h2_articulos:25px;

$tamano_logo: 30px;


/* colores */
$bg_menu:rgba(0,0,0,.1);
$bg_seccion_mainyaside: #F7F7F7;
$color_fuente_articulo: #444;
$color_h2_articulos:#fff;
$bg_articulos:#ececec;
$bg_navegacion: #000;

$bg_boton_encima: #546cc3;




/* imagenes */
$bg_header: url(../imagenes/bg-2.jpg);


/* media queries */
$escritorio: 800px;
$tablet: 480px;
$movil: 480px;

/* otros */

$article_tablet: calc(100% / 2 - 1rem / 2);
$article_escritorio: calc(100% / 3 - 2rem / 3);


