@import "_mixins";
@import "_variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

header{ 

    background-image: $bg_header;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    min-height:580px;

    display: flex;
    flex-direction: column;

    #fondomenu {

        background-color: $bg_menu;

        .menu {

            display: flex;
            flex-direction: column;
            align-items: center;

            @include dispositivos($escritorio) {

                flex-direction: row;
                justify-content: space-between;

            }



            .logo {

                color: #EEE;
                font-size: $tamano_logo;
                text-decoration: none;

                position: relative;

                .submenu {

                    display: none;

                    

                }

                @include dispositivos($tablet) {

                    &:hover .submenu {

                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 100%;
                        z-index: 10;
                        background-color: $bg_menu;

                        ul {

                            list-style: none;

                            li {

                                display: flex;
                                flex-direction: row;
                                padding: 10px;

                                label {

                                }

                                input {

                                    flex-grow: 1;

                                }

                            }

                            .button {

                                display: flex;
                                justify-content: flex-end;

                                button {

                                    @include boton();

                                }
                            }

                        }

                    }

                }
            }


            .nav {

                @include dispositivos($tablet) {

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    list: none;

                }

                
                @include dispositivos($escritorio) {

                    flex-grow: 1;
                    justify-content: space-around;

                }


                a {

                    color: #EEE;

                    @include dispositivos($tablet) {

                        display: flex;
                        flex-direction: row;
                        font-size: 10px;
                        padding: 5px;
                        text-decoration: none;

                    }

                    i {

                        @include movil() {

                        font-size: $tamano_iconos_movil;

                        }


                    }

                    span {

                        display: none;

                        @include dispositivos($tablet) {

                            display: block;

                        }

                    }

                }

            }

            .social {

                display: flex;
                flex-direction: row;

                div {

                    a {
                            
                        font-size: $tamano_iconos_movil;
                        color: #EEE;

                        i {

                            padding: 5px;


                        }

                    }

                }

            }

        }

    }

    .texto-principal {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;


        h1 {

            color: #EEE;
            font-family: $fuente_h1;
            font-size: $tamano_h1;
            font-weight: $negrita_h1;

        }

        p {

            color: #EEE;
            font-size: $tamano_fuente_articulo;

        }

    }

}

.section {

    padding: 1rem 0;

    @include dispositivos($escritorio) {

        display: flex;
        flex-direction: row;

    }

    .articulos {

        margin-bottom: 1rem;

        @include dispositivos($tablet) {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        .article {

            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            background-color: $bg_articulos;

            @include dispositivos($tablet) {

                flex: 0 0 $article_tablet;

            }

            @include dispositivos($escritorio) {

                flex: 0 0 $article_escritorio;

           }

            img {

                max-width: 100%;

            }

            h3 {


            }

            h2 {

                position: absolute;
                font-size: $tamano_h2_articulos;
                color: $color_h2_articulos;

            }

            p {

            }

            a{

                @include boton();
                align-self: flex-start;

            }

        }

        .navegacion {

            flex-grow: 1;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            background-color: $bg_navegacion;

            a {

                @include boton();

            }

        }

    }

    aside {

        flex-grow: 1;

        display: flex;
        flex-direction: row;

        @include dispositivos($escritorio) {

            flex-direction: column;
            padding-left: 1rem;

        }

        .publicidad {

            h4 {

                background-color: black;
                color: #EEE;

            }

            img {

                max-width: 100%;

            }

        }

    }

}

.fondofooter {

    background-color: black;

    .footer {

        display: flex;
        flex-direction: row;
        justify-content: center;

        @include dispositivos($escritorio) {

            justify-content: start;

        }

        .pie {

            padding: 1rem;

            a {

                color: #EEE;
                text-decoration: none;

            }

        }

    }

}


