*{
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right ,#F65, #FFC);
}

#contenedor {
    background-color: white;
    min-height: 100vh;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    margin: 1rem 0;
}

/*-----PRIMER NAV-----*/

/*ul*/

.listMenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

/*li*/

.liNAV {
   list-style-type: none;
   display: flex;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 auto;
    }
}

/*a*/

.btmNAV {
    background-color: #55F;
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    color: #EEE;
}

/*cambiamos a cuando ponemos cursor encima*/

.btmNAV:hover {
    background-color: #22F;
    cursor: pointer;
}

/*-----SEGUNDO NAV CON ICONOS-----*/

/*ul*/
/*hereda de listaMenu*/
.conIconos {
    flex-direction: row;
    flex-wrap: wrap;
}

/*li*/
/*hereda de liNAV tambien*/
.liICON {
    list-style-type: none;
    flex: 0 0 50%;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 25%;
    }
}

/*a*/
/*hereda de btmNAV tambien*/
.btmIcon {
    /*flex para el icono y los p*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*Escritorio*/
    @media (min-width: 768px) {
    }
}

/*icono*/

.icono {
    font-size: 2rem;
    margin-right: 5px;
}

/*Flex a los p y al incono*/

.flexP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*p*/

.tituloMenu {
    font-size: 22px;
}

.descripcionMenu {
    font-size: 13px;
}

/*-----SEGUTERCERNDO NAV CON DROPDOWN-----*/

/*se usa el mismo ul que el primero, sin añadir nada*/
/*hereda de listaMenu*/

/*ul > li*/
/*hereda de liNAV tambien*/
.liDropDown {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 768px) {
        flex: 0 0 25%;
    }
}

/*ul > li > a --> a de titulo de submenu*/
/*hereda de btmNAV tambien*/
.btmDropDown {
    text-align: start;
    padding: 10px;
    background-color: #55F;
    @media (min-width: 768px) {
        background-color: #55F;
    }
}

/*cambia colores del a del titulo del submenu*/
.liDropDown:hover .btmDropDown{
    background-color: #22F;
}

/*ul > li > ul --> ul de submenu*/

.ulPadreSublista {
    background-color: #55F;
    display: block;
    @media (min-width: 768px) {
        display: none;
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
    }
}

/*cambia colores del ul de la submenu*/
.liDropDown:hover .ulPadreSublista {
    background-color: #22F;
    @media (min-width: 768px) {
        display: block;
        z-index: 10;
        background-color: #F65;
    }
}

/*ul > li > ul > li --> li de submenu*/
/*hereda de liNAV tambien*/
.liSublista {
    /*flez para que el a coja el grow:1*/
    display: flex;
}

/*ul > li > ul > li  > a --> a de submenu*/
/*hereda de btmNAV tambien*/
.btmSublista {
    margin: 10px;
    text-align: start;
    padding: 10px;
    background-color: #55F;
     @media (min-width: 768px) {
        margin: 0;
    }
}

/*cambia color del a del submenu*/
.liDropDown:hover .btmSublista {
    background-color: #22F;
    @media (min-width: 768px) {
        background-color: #F65;
    }
    
}
/*cambia color del a del submenu*/
.liSublista:hover .btmSublista {
    background-color: #F65;
    @media (min-width: 768px) {
        background-color: #22F;
    }
}


/*-----REDES SOCIALES-----*/

/*ul*/
/*hereda de listaMenu*/
.ulRedes {
    flex-direction: row;
    justify-content: flex-end;
    background-color: #55F;
    @media (min-width: 768px) {
        flex: 0 0 auto;
    }
}

/*li*/
/*hereda de liNAV tambien*/

.liRedes {
    @media (min-width: 768px) {
        flex: 0 0 auto;
    }
}

/*a*/
/*hereda de btmNAV tambien*/

.btmRedes {
    flex: 0 0 auto;
    padding: 0;
}

/*icono*/

.iconRedes {
    font-size: 1rem;
    padding: 10px;
    background-color: #55F;
}

/*modifico el color del icono cuando estoy sobre el*/

.btmRedes:hover .iconRedes{
    padding: 10px;
    background-color: #22F;
}


/*-----Drop Down and REDES SOCIALES-----*/

/*NAV*/

.DropDownANDIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #55F;
}

/*ul de dropdown*/
/*hereda de listaMenu*/

/*ul de Redes*/
/*hereda de listaMenu*/
.liRedes2 {
    align-items: start;
}