*{
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right ,#F65, #FFC);
}

#contenedor {
    background-color: white;
    height: 100vh;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    margin: 1rem 0;
}

/*ul*/

.listMenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

/*Clase con iconos*/
.conIconos {
    flex-direction: row;
    flex-wrap: wrap;
}

/*li*/

.liNAV {
   list-style-type: none;
   display: flex;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 auto;
    }
}

.liICON {
    list-style-type: none;
    flex: 0 0 50%;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 auto;
    }
}

/*a*/

.btmNAV {
    background-color: #55F;
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    color: #EEE;
}

.btmIcon {
    /*flex para el icono y los p*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*Escritorio*/
    @media (min-width: 768px) {
    }
}

.btmNAV:hover {
    background-color: #22F;
    cursor: pointer;
}

/*icono*/

.icono {
    font-size: 2rem;
    margin-right: 5px;
}

/*p de nav*/
.tituloMenu {
    font-size: 22px;
}

.descripcionMenu {
    font-size: 13px;
}

/*Flex a los p y al incono*/

.flexP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*ul de sublista NOSOTROS*/

.ulPadreNosotros {
    display: flex;
    flex-direction: column;
}

/*li de sublista NOSOTROS*/

.liNosPadre {
    display: flex;
    flex-direction: column;
}

.liNosPadre:hover .ulPadreNosotros{
        background-color: #F65;
}

.liNosPadre:hover .btmNosPadre{
        background-color: #F65;
}

.liNosotros {
    display: flex;
}

/*a de sublista NOSOTROS*/

.btmNosPadre {
    text-align: start;
    padding: 0 1rem;
}

.btmNosotros {
    margin: 10px;
    text-align: start;
        padding: 0 1rem;


}
