

@mixin dispositivo ($tamaño) {

    @media only screen and (min-width: #{$tamaño}) {

        @content;

    }

}

@mixin boton() {
    background-color: $colorFondoBoton;
    color: $colorLetraBoton;
    @content;
}