

@mixin dispositivo ($tamaño) {

    @media only screen and (min-width: #{$tamaño}) {

        @content;

    }

}

@mixin boton($colorFondo:$color-boton, $colorFondoHover:$color-boton-hover, $colorLetra:#DDD, $pad:8px, $mb:10px) {
    background-color: $colorFondo;
    color: $colorLetra;
    padding: $pad;
    margin-bottom: $mb;
    &:hover {
        background-color: $colorFondoHover;
    }
}
