// ancho tablet y escritorio

$tablet: 480px;
$escritorio: 780px;

/* Colores de fecha y nombre*/
$colorEtiqueta: #C44;

// BOTON
$color-boton: rgb(80, 138, 224);
$color-boton-hover: rgb(34, 61, 101);

// ARTICULOS
$anchoTarjetaTablet: calc(100%/2 - 1rem);
$anchoTarjetaDesk: calc(100%/3 - 2rem);