<<<<<<< HEAD
@import 'mixins.scss';
@import 'variables.scss';
=======
@import 'variables.scss';
@import 'mixins.scss';
>>>>>>> babac9edc92bb856e6d327a8afbe00939c80132b

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #BBB;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

span {
    color: $colorEtiqueta;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include dispositivo($tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include dispositivo($escritorio) {

    }
}

<<<<<<< HEAD
button {
    @include boton() {}
=======
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    margin-bottom: 10px;
    @include dispositivo($tablet) {
        flex-basis: $anchoTarjetaTablet;
    }
    @include dispositivo($escritorio) {
        flex-basis: $anchoTarjetaDesk;
    }
}

button {
    @include boton();
>>>>>>> babac9edc92bb856e6d327a8afbe00939c80132b
}