@import 'mixins.scss';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #BBB;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: center;
}

span {
    color: $colorEtiqueta;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    @include dispositivo($tablet) {

    }
    @include dispositivo($escritorio) {

    }
}

button {
    @include boton() {}
}