@import '_mixins.scss';
@import '_variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #BBB;
}

img {
    max-width: 100%;
}

h2 {
    text-transform: uppercase;
}

span {
    color: $colorEtiqueta;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex: 0 0 auto;
}