@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fondo-contenedor-buscador {

    background-image: url('../../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    
    .cont-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            color: #EEE;
        }

        p {
            color: #EEE;
        }

        form {

            display: flex;
            flex-direction: row;
            

            input {
                flex: 1 0 auto;
                padding: 5px 0;
                background-color: #EEE;
            }

            button {
                
                flex: 1 0 auto;
                padding: 5px;
                background-color: #EEE;


            }
        }
    }
}

.fondo-contenedor-info {

    background: linear-gradient(to right, #49245a, #c0364f);

    .info {

        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content:end;

        img {
            width: 30px;
            margin: 10px;
        }

        .flexP {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: #EEE;
           
        }
    }
}

h2 {
    text-align: center;
}

.cursosPadre {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    .curso {

        border: 1px solid #CCC;

        margin-bottom: 1rem;

        flex: 1 0 $anchoTargetaPequena;
        
        @include dispositivo($witdh-movil) {
            flex: 0 0 $anchoTargetaMovil;
        }

        @include dispositivo($witdh-tablet) {
            flex: 0 0 $anchoTargetaTablet;
        }

        @include dispositivo($witdh-escritorio) {
            flex: 0 0 $anchoTargetaEscritorio;
        }

        .fotoCurso {
            width: 100%;
        }

        .curso-detalle {

            display: flex;
            flex-direction: column;
            justify-content:space-between;
            padding: 10px;

            h4 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 10px;
            }

            .estrellas {
                margin-bottom: 10px;
            }

            i {
                color: rgb(219, 230, 69);
            }

            .precios {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            
        }
        
    }

}
